html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: linear-gradient(to top, #008296 , #007896); */
}

h1 {
    /* color: #ff7676; */
    color: white;
}

.binary{
    position: absolute;
    top: 10px;
    right: 0;
    width: 50vw;
    text-align: left;
    color: #283134;
    word-wrap: break-word;
    opacity: 0.5;
    font-family: 'arial';
    user-select: none;
}

input {
    width: 100%;
    font-size: 20px;
    display: block;
}

@font-face {
    font-family: myFirstFont;
    src: url('fonts/font.otf') format("opentype");
  }

  @font-face {
    font-family: lato;
    src: url('fonts/Raleway-Regular.ttf');
  }


.top-div {
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(to top, #282c34 , #292834);
    /* background: #282c34;  */
    text-align: center;
    position: relative;
    margin-bottom: 80px;

}

p {
    font-size: 22px;
    color: #4b4b4b;
    text-align: center;
    font-family: 'Arial';
}

.top-div .header {
    position: absolute;
    bottom: -49px;
    margin: 0;
    padding: 0;
    background:#008296;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 10px;
    border-radius: 5px;
}

.header h1 {
    font-size: 100px;
    font-family: 'lato';
    font-weight: 100;
    line-height: 100px;
    margin: 0;
}

.link {
    display: inline-block;
    margin: 0 20px;
}
.link img {
    width: 50px;
    height: 50px;
}

.links{
    margin: 0 auto;
    text-align: center;
}

img{
    opacity: 1;
    transition: opacity 2s;
}

img[data-src]{
    opacity: 0;
}



@media only screen and (max-width: 769px) {
    .binary {
        width: 100vw;
    }

    .link img {
        width: 50px;
        height: 50px;
    }
  }




/**
#a8dfee light
#ff7676 red 
#008296 dark
*/